@import "tailwindcss";
@import "../public/Fonts/WEB/css/satoshi.css";

:root {
  --background: #f3f3f3;
  --foreground: #0e0d09;
  --border: oklch(0.922 0 0);
  --border-color: oklch(0.922 0 0);
}

.dark {
  --background: #0e0d09;
  --foreground: #f3f3f3;
  --border: oklch(0.45 0 0);
  --border-color: oklch(0.345 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Satoshi-Variable", "Satoshi-Regular", Arial, Helvetica,
    sans-serif;
}

.dashed-border-y {
  background-image: repeating-linear-gradient(
      to bottom,
      var(--border-color) 0px,
      var(--border-color) 6px,
      transparent 6px,
      transparent 15px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--border-color) 0px,
      var(--border-color) 6px,
      transparent 6px,
      transparent 15px
    );
  background-size: 1px 100%, 1px 100%;
  background-position: left top, right top;
  background-repeat: no-repeat;
}
